/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

/* Styles pour la publication */
.publication {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.box {
    margin-bottom: 20px;
}

.p1 {
    margin: 0;
    font-weight: bold;
}

.post-content {
    position: relative;
}

.p2 {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 60px;
}

.toggle-content {
    display: none;
}

.toggle-label {
    display: inline-block;
    margin: 5px;
    color: #007bff;
    cursor: pointer;
}

.p3 {
    margin: 0;
    font-size: 12px;
    color: #999;
}

.full-content {
    display: none;
}

.show-full .full-content {
    display: block;
}

.show-full .p2 {
    max-height: initial;
}

.show-full .toggle-label-show {
    display: none;
}

.show-full .toggle-label-hide {
    display: inline;
}

.commentaires textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.commentaires input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.edit button a {
    text-decoration: none;
    color: #fff;
}
.toggle-label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .toggle-label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .toggle-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .toggle-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .toggle-label input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
  }
  
  .toggle-label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .toggle-label span {
    font-size: 14px;
    color: #333;
  }
  